body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


h1 {
  font-size: calc(1.375rem + 1.5vw);
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color: ;
    margin-bottom: 2rem;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.image {
    text-align: center;
}

.img-fluid {
  max-width: 50%;
  height: auto;
}